*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row{
    background-color: red;
    width: 80%;
    margin: auto;
}
.first{
    margin-top: 20px;
}
.container{
    display: inline-block;
    width: calc(100% / 3);
    background-color: aqua;
    padding: 5px;
    position: relative;
}
div.container>img{    
    width: 100%;
}
.reveal{
    display: inline-block;
}
.conceal{
    display:none;
}
.container:hover .conceal{
    display:inline-block;
}
.container:hover .reveal{
    display:none;
}
.discount-container{
    position: absolute;
}
.box{
    padding: 3px;
    position: relative;
    bottom: 35px;
    font-size: 13px;
    color: white;
}
.discount{
    display: inline-block;
    background-color: red;
}
.sostenibilita{
    display: inline-block;
    background-color:green;
}
.heart-box{
  height: 35px;  
  width: 40px;
  display: inline-block;
  background-color: white;
  position: absolute;
  text-align: center;
  /* property to center the heart in the box */
  line-height: 35px;
  /* top to position in the upper right corner of the img
  top: calc(0% + 5px); */
  top: calc(0% + 15px);
  right: calc(0% + 5px);
  font-size: 30px;    
}
.text-container{
    display: inline-block;
}
.brand-title{
    font-size: 13px;
}
.discounted-price{
    color: red;
    font-weight: bold;
}
.old-price{
    text-decoration: line-through;
}
.second{
    margin-bottom: 20px;
}
