*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row{
    background-color: red;
    width: 80%;
    margin: auto;
}
.container{
    display: inline-block;
    width: calc(100% / 3);
    background-color: aqua;
    padding: 5px;
}
div.container>img{    
    width: 100%;
}
.text-container{
    display: inline-block;
}